<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        <link rel="stylesheet" href="~/Content/bootstrap.min.css" media="all" />
        <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" media="all" />
        <link rel="stylesheet" href="~/Content/site.css" media="all" />
    </head>
<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand">苏州市体育运动学校官方网站</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <section id="main">
        <div class="container">
            @RenderBody()
        </div>
    </section>
    
    <footer>
        nothing
    </footer>
    <!-- loding javascript-->
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
